/*
  ==========================================================================
   CSS 1 - Andrey S - 05-05-2015
  ========================================================================== 
 */

#top-header{
	background-color: #F68C1E;
	height: 55px;
}
/*body .header .grid{
	max-width: 100%;
	
}*/
.grid-1000{
	max-width: 70em;
	margin: 0 auto;
	overflow: hidden;	
}


/*
  ==========================================================================
   FIN CSS 1 - Andrey S ****************************************************
  ========================================================================== 
 */