@media only screen and (max-width : 640px) {
	.footer-left{
		width: 50%;
		margin: 0 auto;
		float: none;
		clear:both;
		text-align:center;
	}
	.footer-right{
		width: 50%;
		margin: 0 auto;
		float: none;
		clear:both;
	}
	.logo-footer-content{
		float: none;
		margin: 0px;
	}
	.footer-left .block:first-child{
		margin: 0px;
	}
	.footer-left .block, .contact-info-footer{
		float:none;
	}
	.formulario-slider-home{
		display: none;
	}

	/* Keylor */

	.front .above-content {
    min-height: 150px;
	}

	.flexslider .flex-caption{
		display: none;
	}

	.container-nav{
		top: 70%;
	}
	.above-content{
		margin-top: 105px;
	}
}

@media only screen and (max-width : 359px) {

}