@media only screen and (max-width: 1280px){
	.front .flexslider .flex-viewport{
		height: 622px;
	}	

	.front .flexslider .slides img{
		height: 622px;
	}

	/* Atracciones */

	.imagen-top-box{
		width: 100%;
		overflow: hidden;
		
	}

	ul.primary{
		clear: both;
	}

	.front .pane-testimonios h2.pane-title{
		text-align: left;
	}
	

	.slider-interno .flexslider .flex-control-paging{
		bottom: -215px;
	}

	.slider-interno .flexslider .flex-caption{
		top: 155px;
	}


}