@media only screen and (max-width : 1000px) {
    .node-type-blog .field-name-field-imagen img{
		height: auto;
	}
	#block-views-blog-block-art-rel .view-blog .views-row .group-left,
	.front .listado-blog-sidebar.view-blog .views-row .group-left {
		width: 165px;
	}
	#block-views-blog-block-art-rel .view-blog .views-row .group-left .field-name-field-imagen,
	.front .listado-blog-sidebar.view-blog .views-row .group-left .field-name-field-imagen{
		width: 165px;
	}
	#block-views-blog-block-art-rel .view-blog .views-row .group-right,
	.front .listado-blog-sidebar.view-blog .views-row  .group-right{
		width: 60%;
		padding-left: 0px;
	}

	 .listado-blog-sidebar.view-blog .views-row  .group-right{
	 	padding-left: 0;
	 }
	.view-blog .views-row{
		height: auto;
	}
	.view-blog .views-row .group-left {
		width: 170px;
		margin-right: 10px;
	}

	.front .view-blog .views-row .group-left {
		margin-right: 0;
	}

	.view-blog .views-row .group-left img{
		width: 100%;
		height: auto;
	}
	.view-blog .views-row .group-right {
	  width: 60%;
	}
	.view-blog .views-row .group-right .field-name-title h2 {
	  margin-top: 5px;
	}		
	.view-equipo .views-row{
		margin-right: 0px;
	}
	.view-equipo .views-row:nth-child(3n){
		margin-right: 23px;
	}
	body .view-equipo div.views-row-odd{
		margin-right: 23px;
	}		
	.listado-blog-sidebar.view-blog .views-row .group-right h3 a, #block-views-blog-block-art-rel .view-blog .views-row .group-right h3 a{
		  font-size: 18px;
		  line-height: 18px;
	}
	.grid-1000, .main-content{
		width: 100%;
		max-width: 100%;
		padding: 0 2%
	}	
	
	#block-block-1{
		display: none;
	}
	/*.redes-top-header div a{
		margin-left: 0px;
	}*/
	#block-menu-menu-top-menu .menu li a{
		float: left;
	}
	#block-menu-menu-top-menu .menu li.menu-626 a{
		width: 150px; line-height: 13px;
	}
	#block-system-main-menu .menu{
		padding-left: 200px;
	}
	#block-system-main-menu .menu li{
		width: 90px;
	}
	#block-system-main-menu .menu li a{
		font-size: 13px;
		line-height: 16px;
	}
	.footer-zone .prefooter .menu li a{
		padding-left: 6px;
	}
	.footer-left{
		width: 75%;
	}
	.footer-right{
		width: 25%;
	}
	.footer-zone{
		padding-bottom: 20px;
	}
	.footer-left .block:first-child {
	  margin-right: 35px;
	}	
	

	/* Agregado por Keylor Mora */
	
	/* Slider Home */
	
	.flexslider .flex-caption {
    top: 30%;
    width: 100%;
}
	.container-nav{
		width: 100%;
		top: 80%;
	}

	.flex-control-nav{
		left: 0;
		right: 0;
		width: 100%;
	}

	.flexslider .flex-caption p {
    margin: 20px auto;
    width: 80%;
}

	.flexslider .flex-caption h3, .flexslider .flex-caption h3 a {
	    margin: 20px auto 30px;
	    width: 80%;
	}

	.front .flexslider .flex-viewport{
		height: auto;
	}	

	.front .flexslider .slides img{
		height: auto;
	}

	.front .above-content{
		min-height: 335px;
		background-color: transparent;
    background-image: none;
	}

	

	.formulario-slider-home{
		width: 100%;
		margin: 0 auto;
		float: none;
		position: relative;

	}

	.formulario-slider-home .content{
		width: 90%;
		float: none;
		margin: 30px auto;
		background: none;
		background-color: #3D3D3D;
	}
	
	.front .listado-categorias-tours-atracciones .views-row.views-row-3, .front .listado-categorias-tours-atracciones .views-row.views-row-6, .front .listado-categorias-tours-atracciones .views-row.views-row-9, .front .listado-categorias-tours-atracciones .views-row.views-row-12, .front .listado-categorias-tours-atracciones .views-row.views-row-15, .front .listado-categorias-tours-atracciones .views-row.views-row-18, .front .listado-categorias-tours-atracciones .views-row.views-row-21, .front .listado-categorias-tours-atracciones .views-row.views-row-24, .front .listado-categorias-tours-atracciones .views-row.views-row-27, .front .listado-categorias-tours-atracciones .views-row.views-row-30{
		margin-left: 2%;
    margin-right: 2%;
    overflow: hidden;
    width: 29%;
	}

	.front .listado-categorias-tours-atracciones .views-row{
		margin-left: 2%;
    margin-right: 2%;
    overflow: hidden;
    width: 29%;
	}
	
	
	.tours-oferta-desc {
		display: none;
	}

	.front .listado-blog-sidebar.view-blog .views-row .group-left{
		width: 32%;
		overflow: hidden;
	}


	/* Atracciones */

	.imagen-top-box{
		width: 100%;
		overflow: hidden;
		text-align: center;
	}
	

	.imagen-top-titulo{
		text-align: left;
		width: 94%;
	}

	.listado-categorias-tours-atracciones .views-row{
		width: 31%;
		overflow: hidden;
	}


	.llamado-boton a{
		background-image: none;
	}


	/* Atracciones Zona */

	.view-atracciones .views-row .atraccion-info{
		width: 42%;
		overflow: hidden;

	}

	.view-atracciones .views-row .atraccion-imagen{
		width: 58%;
	}

	.view-atracciones .views-row .atraccion-imagen a img{
		width: auto;
	}

	.view-atracciones .views-row{
		float: none;
	}

	

	.view-atracciones .views-row .atraccion-info .atraccion-vermas a{
		background-image: none;
		height: auto;
		width: auto;
		padding-right: 10px

	}

	/* Atracciones detalle */

	.slider-interno .flexslider .flex-control-paging{
		bottom: 0;
		top:145px;
	}


	.node-type-atraccion .above-content, .node-type-destino .above-content, .vocabulary-tipo_de_viaje_atracciones .above-content{
		min-height: 335px;
		/*background-color: transparent;
    	background-image: none;*/
	}

	.one-sidebar #sidebar-first, #sidebar-second{
		width: 40%;

	}

	.one-sidebar .main{
		width: 60%
	}

	.listado-tours-general .view-content .views-row .tour-list-item-imagen{
		width: 30%;
		overflow: hidden;
	}

	.listado-tours-general .view-content .views-row .tour-list-item-imagen a{
		width: 100%;
	}
	
	.listado-tours-general .view-content .views-row .tour-list-item-imagen img {
		width: auto;
	}

	.listado-tours-general .view-content .views-row .tour-list-listado-detalles{
		width: 70%;
		overflow: hidden;
	}

	.listado-tours-general .view-content .views-row .tour-list-item-info{
		width: 75%;
	}

	.listado-tours-general .view-content .views-row .tour-list-price-box{
		width: 25%;
	}

	.listado-tours-recomedados h3{
		font-size: 35px;
	}

	.listado-blog-sidebar.view-blog .views-row .group-left{
		width: 35%;
		overflow: hidden;
	}

	.listado-hoteles-sidebar .views-row{
		width: 100%;
	}

	.listado-hoteles-sidebar .views-row .hotel-sidebar-left{
		width: 40%;
		overflow: hidden;
	}
	.listado-hoteles-sidebar .views-row .hotel-sidebar-right{
		width: 60%;
		overflow: hidden;
	}

	.listado-hoteles-sidebar .views-row .hotel-sidebar-left img{
		width: 100%;
	}

	/* Destinos */

	.view-id-destinos {
	  width: 533px;
	  margin: 0 auto;
	}

	.view-id-destinos .view-content .views-row {
	  margin-left: 18px;
	  margin-bottom: 18px;
	}

	#block-views-regiones-block .ui-accordion .ui-accordion-content .views-row {
	  
	  margin-bottom: 5px;
	}


	/* Destinos Destalle */

	.slider-interno .flexslider .flex-caption h3, .slider-interno .flexslider .flex-caption h3 a{
		  font-size: 26px;
  			margin: 5px auto 10px;
	}

	.slider-interno .flexslider .flex-caption p{
		  font-size: 16px;
  margin: 10px auto;
  line-height: 19px;
  max-height: 78px;
  overflow: hidden;
	}

	.slider-interno .flexslider .flex-caption{
		  height: 220px;
  top: 35%;
	}

	.slider-interno .flexslider .flex-caption .flex-caption-inner{
		margin: 0 auto;
	}

	.panels-flexible-tour_detail_layout .flexslider{
		width: 100%;
	}

	.compartir-box{
		width: 318px;
		float: none;
		margin: 0 auto 10px;
	}

	.boton-reservar-tour{
		width: 160px;
		float: none;
		margin: 0 auto;
	}

	.listado-tours-recomedados .views-row .views-field-field-imagenes-de-slider img{
	width: auto;
}

.listado-tours-recomedados .views-row{
	overflow: hidden;
}

.view-detalles-de-productos .gmap-control {
	width: 100% !important;
}

.panels-flexible-tour_detail_layout .formulario-estilo-general .row-group div.wrapper-campo-adultos,
	.panels-flexible-tour_detail_layout .formulario-estilo-general .row-group div.wrapper-campo-ninos,
	.panels-flexible-tour_detail_layout .formulario-estilo-general .row-group div.wrapper-campo-menores-12{
		width: 100% !important;
	}

	.panels-flexible-tour_detail_layout .formulario-estilo-general .row-group div.wrapper-campo-ninos{
		padding-left: 113px !important;
	}

	.i18n-en .panels-flexible-tour_detail_layout .formulario-estilo-general .row-group div.wrapper-campo-ninos{
	padding-left: 102px !important;
}	

.panels-flexible-tour_detail_layout .formulario-estilo-general .row-group div.wrapper-campo-menores-12{
		padding-left: 153px !important;
	}

	.i18n-en .panels-flexible-tour_detail_layout .formulario-estilo-general .row-group div.wrapper-campo-menores-12{
	padding-left: 142px !important;
}	



.formulario-estilo-general .titulo-fechas-reserva .row-group .form-item{
 	width: 100%;
 	padding: 0;
 	margin-bottom: 15px !important;

}

.front .pane-testimonios h2.pane-title{
		font-size: 30px;
	}


/* Viaje a su medida */
	.formulario-estilo-general .form-type-checkbox{
		height: 60px;
	}


	.campo-fecha-paso2{
		width: 50% !important;
		margin-left: 0 !important;
	}

	.campo-fecha-paso2 input{
		width: 90% !important;
	}

	.formulario-estilo-general .label-gris .datepicker{
	max-width: 100% !important;
}


.destinos-checkbox .webform-component{
	width: 50%;
	margin-bottom: 30px;
}

.formulario-estilo-general .destinos-checkbox   .form-type-checkbox{
	height: auto;
}


#edit-submitted-alojamiento .form-type-checkbox, #edit-submitted-accommodation .form-type-checkbox{
	width: 33% !important;
}

#edit-submitted-condiciones-adicionales .form-type-checkbox, #edit-submitted-additional-conditions .form-type-checkbox, .webform-component--transporte .form-type-checkbox, .webform-component--transport .form-type-checkbox{
	width: 33% !important;
}

.label-campos-personas .webform-component--cuantas-personas-van-a-viajar-con-usted--personas-fila-1--habitaciones,
.label-campos-personas .webform-component--how-many-people-will-travel-with-you--row-people--number-of-rooms{
	width: 400px;
	clear: both;
	float: left;
	margin-left: 0;
}

.listado-blog-sidebar.view-blog .views-row .group-right h3 a, #block-views-blog-block-art-rel .view-blog .views-row .group-right h3 a{
	font-size: 17px;
}

#block-views-hoteles-y-tours-principal-block{
	width: 600px;
}

.listado-hoteles-tours .views-row{
	width: 230px;
	float: left;
	/*height: 230px;*/
	margin: 0 35px 50px !important;
}

	
}




@media only screen and (max-width : 800px) {
	.view-equipo .views-row{
		margin-right: 23px;
	}
	.view-equipo .views-row:nth-child(3n){
		margin-right: 0px;
	}
		
	.webform-client-form-3 label, .webform-client-form-4 label{
		line-height: 35px;
	}
	#top-header{
		height: 55px;
	}
	#block-custom-search-blocks-1{
		float:right;
	}
	
	.tinynav-wrapper {
	    border: 0 none;
	    float: right;
	    height: 46px;
	    margin: 22px 15px 22px 0;
	    width: 300px;
	}

	.tinynav {
    display: block;
    height: 100%;
    width: 100%;
}

	.footer-zone .prefooter{
		min-height: 30px;
		height: auto;
		padding-bottom: 10px;
	}
	.footer-zone .prefooter .menu{
		text-align:center;
	}
	.footer-zone .prefooter .menu li{
		margin-top: 10px;
	}	
	.footer-zone .prefooter .menu li a{
		padding-left: 4px;
	}		
	
	
	/* Agregado por Keylor Mora */
	
	/* Slider Home */

	.flexslider .flex-caption {
    top: 10%;
    width: 100%;
}
	

	



	.front .above-content{
		min-height: 335px;
	}

	.formulario-slider-home{
		width: 100%;
		margin: 0 auto;
		float: none;
		position: relative;

	}

	.formulario-slider-home .content{
		float: none;
		margin: 30px auto;
	}

	.above-content{
		margin-top: -51px;
	}


	.front .listado-categorias-tours-atracciones .views-row.views-row-3, .front .listado-categorias-tours-atracciones .views-row.views-row-6, .front .listado-categorias-tours-atracciones .views-row.views-row-9, .front .listado-categorias-tours-atracciones .views-row.views-row-12, .front .listado-categorias-tours-atracciones .views-row.views-row-15, .front .listado-categorias-tours-atracciones .views-row.views-row-18, .front .listado-categorias-tours-atracciones .views-row.views-row-21, .front .listado-categorias-tours-atracciones .views-row.views-row-24, .front .listado-categorias-tours-atracciones .views-row.views-row-27, .front .listado-categorias-tours-atracciones .views-row.views-row-30{
		margin-left: 2%;
    margin-right: 2%;
    overflow: hidden;
    width: 175px;
	}

	.front .listado-categorias-tours-atracciones .views-row{
		margin-left: 2%;
    margin-right: 2%;
    overflow: hidden;
    width: 175px;
	}

	

	.front .view-tipo-de-atraccion .view-content {
	    margin: 0 auto;
	    width: 382px;
	}

	.front .panels-flexible-region-home_layout-sidebar {
	    padding-left: 10px;
	}

	.tours-oferta-precio{
		left: 10px;
	}

	.tours-oferta-vermas a{
		right: 10px;
	}

	.front .pane-testimonios h2.pane-title{
		font-size: 30px;
	}

	.front .pane-testimonios .jcarousel-skin-tango .jcarousel-container{
		padding: 8px 0 0;
	}

	#block-custom-search-blocks-1 .search-form input[type="text"]{
		width: 130px;
	}

	#block-custom-search-blocks-1{
		display: none;
	}

	#block-system-main-menu{
		background: none;
		background-color: #9bb53b;

	}

	/* Atracciones */

	.listado-categorias-tours-atracciones .views-row {
	  width: 44%;
	  overflow: hidden;
	  margin-left: 3%;
	  margin-right: 3%;
	}

	.listado-categorias-tours-atracciones .views-row:nth-child(3n) {
	  margin-right: 3%;
	}

	/* atracciones Zona */

	.atraccion-desc {
	  max-height: 95px;
	  overflow: hidden;
	  margin-bottom: 40px;
	}

	.view-atracciones .volver-atracciones{
		font-size: 16px;
	}

	/* atracciones detalle */

	.slider-interno .flexslider .flex-control-paging{
		
		top:110px;
	}

	.node-type-atraccion .above-content, .node-type-destino .above-content, .vocabulary-tipo_de_viaje_atracciones .above-content{
		min-height: 150px;

	}

	.one-sidebar .main{
		margin: 0 auto 20px;
		float: none !important;
	}
	.one-sidebar #sidebar-first, #sidebar-second{
		  width: 366px;
		  margin: 40px auto 0;
		  clear: both;
		  float: none !important;
		  padding-left: 0;
		  padding-top: 0 !important;
	}
    .page-node-3 .one-sidebar #sidebar-second{
		width: 80%;
		overflow:hidden;
	}	

	.one-sidebar .main{
		width: 600px;
	}

	.listado-tours-general .view-content .views-row .tour-list-item-imagen{
		width: 205px;
		overflow: hidden;
	}

	.listado-tours-general .view-content .views-row .tour-list-item-imagen a{
		width: 100%;
	}
	
	.listado-tours-general .view-content .views-row .tour-list-item-imagen img {
		width: auto;
	}

	.listado-tours-general .view-content .views-row .tour-list-listado-detalles{
		width: auto;
		overflow: hidden;
	}

	.listado-tours-general .view-content .views-row .tour-list-item-info{
		width: 300px;
	}

	.listado-tours-general .view-content .views-row .tour-list-price-box{
		width: 78px;
	}



	#block-block-33,
	#block-block-32,
	#block-block-30,
	#block-block-31,
	#block-block-29,
	#block-block-28{
		display: none;
	}
	
	.listado-tours-recomedados .views-row{
		overflow: hidden;
	}

	.listado-tours-recomedados h3{
		margin-top: 0;
	}

	/* Destinos */

	.slider-interno .flexslider .flex-caption{
		top: 20%;
	}

	.panels-flexible-tour_detail_layout .panels-flexible-region-first,
	.panels-flexible-tour_detail_layout .panels-flexible-region{
		width: 490px;
		margin:  10px auto;
		float: none;
		padding: 0;
	}

	.compartir-box {
  width: auto;
  float: left;
  margin: 0;
}
.boton-reservar-tour{
	width: auto;
	float: right;
	margin: 0;
}

 .panels-flexible-tour_detail_layout .panels-flexible-region.grid-1-3{
 	width: 366px;
 	margin: 50px auto 30px;
 	float: none;
 	padding: 0;
 }

 .panels-flexible-tour_detail_layout .grid-1-3 .panels-flexible-region-inside-last{
 	padding: 0;
 }

 .panels-flexible-tour_detail_layout .grid-2-3  .panels-flexible-region-inside-first{
	padding: 0;
 }

 .panels-flexible-tour_detail_layout .panels-flexible-region-inside{
		padding: 0;
}

.panel-volver{
	position: relative;
	height: 30px;
	margin: 20px auto;
	top: 0;
}

/* Viaje a su medida */
	
#edit-submitted-alojamiento .form-type-checkbox, #edit-submitted-accommodation .form-type-checkbox{
	width: 50% !important;
}

#edit-submitted-condiciones-adicionales .form-type-checkbox, #edit-submitted-additional-conditions .form-type-checkbox, .webform-component--transporte .form-type-checkbox, .webform-component--transport .form-type-checkbox{
	width: 50% !important;
}


.front .pane-testimonios .jcarousel-skin-tango .jcarousel-prev-horizontal,
.front .pane-testimonios .jcarousel-skin-tango .jcarousel-next-horizontal{
	top: -28px;
}




}