@media only screen and (max-width : 1000px) {

	.grid-1000, .main-content{
		width: 100%;
		max-width: 100%;
	}	
	
	#block-block-1 .redes-top-header{
		display: none;
	}
	/*.redes-top-header div a{
		margin-left: 0px;
	}*/
	#block-menu-menu-top-menu .menu li a{
		float: left;
	}
	#block-menu-menu-top-menu .menu li.menu-626 a{
		width: 150px; line-height: 13px;
	}
	#block-system-main-menu .menu{
		padding-left: 200px;
	}
	#block-system-main-menu .menu li{
		width: 90px;
	}
	#block-system-main-menu .menu li a{
		font-size: 13px;
		line-height: 16px;
	}
	.footer-zone .prefooter .menu li a{
		padding-left: 6px;
	}
	.footer-left{
		width: 75%;
	}
	.footer-right{
		width: 25%;
	}
	.footer-zone{
		padding-bottom: 20px;
	}
	.footer-left .block:first-child {
	  margin-right: 35px;
	}	
	

	/* Agregado por Keylor Mora */
	
	/* Slider Home */
	
	.flexslider .flex-caption {
    top: 30%;
    width: 100%;
}
	.container-nav{
		width: 100%;
		top: 80%;
	}

	.flex-control-nav{
		left: 0;
		right: 0;
		width: 100%;
	}

	.flexslider .flex-caption p {
    margin: 20px auto;
    width: 80%;
}

.flexslider .flex-caption h3, .flexslider .flex-caption h3 a {
    margin: 20px auto 30px;
    width: 80%;
}

	.front .above-content{
		min-height: 335px;
	}

	.formulario-slider-home{
		width: 100%;
		margin: 0 auto;
		float: none;
		position: relative;

	}

	.formulario-slider-home .content{
		float: none;
		margin: 30px auto;
	}
	
	.front .listado-categorias-tours-atracciones .views-row.views-row-3, .front .listado-categorias-tours-atracciones .views-row.views-row-6, .front .listado-categorias-tours-atracciones .views-row.views-row-9, .front .listado-categorias-tours-atracciones .views-row.views-row-12, .front .listado-categorias-tours-atracciones .views-row.views-row-15, .front .listado-categorias-tours-atracciones .views-row.views-row-18, .front .listado-categorias-tours-atracciones .views-row.views-row-21, .front .listado-categorias-tours-atracciones .views-row.views-row-24, .front .listado-categorias-tours-atracciones .views-row.views-row-27, .front .listado-categorias-tours-atracciones .views-row.views-row-30{
		margin-left: 25px;
		margin-right: 25px;
	}

	.front .listado-categorias-tours-atracciones .views-row{
		margin-left: 25px;
		margin-right: 25px;
	}
	
	
	
	


}


@media only screen and (max-width : 800px) {

	.footer-zone .prefooter{
		height: 90px;
	}
	.footer-zone .prefooter .menu{
		text-align:center;
	}
	.footer-zone .prefooter .menu li a{
		padding-left: 4px;
	}		
	
	
	/* Agregado por Keylor Mora */
	
	/* Slider Home */

	.flexslider .flex-caption {
    top: 10%;
    width: 100%;
}
	

	



	.front .above-content{
		min-height: 335px;
	}

	.formulario-slider-home{
		width: 100%;
		margin: 0 auto;
		float: none;
		position: relative;

	}

	.formulario-slider-home .content{
		float: none;
		margin: 30px auto;
	}

	.above-content{
		margin-top: -51px;
	}



}