/* ==========================================================================
   =Theme
   ========================================================================== */
#logo {
  border: 0;
}
#logo:hover {
  background: transparent;
}


/*
  ==========================================================================
   CSS 1 - Andrey S - 05-05-2015
  ========================================================================== 
 */

#top-header{
	background-color: #F68C1E;
	height: 55px;
}
/*body .header .grid{
	max-width: 100%;
	
}
.header .grid > div-{
	max-width: 70em;
	margin: 0 auto;
	overflow: hidden;	
}*/


/*
  ==========================================================================
   FIN CSS 1 - Andrey S ****************************************************
  ========================================================================== 
 */